html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: auto;
  /* font-family: "Handlee", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif; */
}
.row {
  width: 100%;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}
/* header starts */
header {
  background: #111313;
  padding: 0% 1%;
  text-align: center;
}
.logo {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
}
nav ul li {
  display: block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 70px;
  padding: 0 20px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}
nav ul li a:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* header ends */
/* banner starts */
.banner-section {
  background-image: url(../images/bg.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.banner-contents {
  padding: 50px 10px;
  text-align: center;
}
.banner-contents h1 {
  width: 100%;
  margin: 15px auto;
  font-size: 3rem;
  background: rgba(255, 255, 0, 0.885);
  border-radius: 5px;
  padding: 15px;
  font-family: "Handlee", cursive;
}
.banner-contents p {
  width: 300px;
  margin: 15px auto;
  font-size: 1.2rem;
  background: rgb(0, 128, 0);
  color: white;
  padding: 10px;
  border-radius: 3px;
}
.btn {
  width: 160px;
  padding: 10px;
  background: rgb(0, 128, 0);
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.4s;
  text-transform: uppercase;
  font-size: 1rem;
}
.btn:hover {
  transform: scale(1.2);
}
/* banner ends */
/* about starts */
.about-us {
  padding: 1%;
}
.about-us-content {
  text-align: center;
}
.about-us-content h3 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.about-us-content p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
/* about ends */
/* food menu starts */
.food-menu {
  padding: 1%;
}
.card-body {
  text-align: center;
}
.card-body img {
  max-width: 100%;
  height: 330px;
  display: block;
}
.card-des {
  background: rgb(164, 165, 164);
}
.item-name {
  background: rgb(0, 128, 0);
  color: white;
  padding: 10px;
}
.card-des > p {
  padding: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
.card {
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.1);
}
/* food menu ends */
/* contact starts */
.contact {
  padding: 1%;
  background: #595b83;
}
.contact-details {
  color: white;
  padding: 20px 0;
  text-align: center;
}
.map {
  width: 100%;
  height: 250px;
}
.contact-details p,
address {
  font-size: 0.8rem;
}
/* contact ends */
/* footer starts */
footer {
  padding: 1%;
  background: #060930;
  color: white;
}
footer p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 32px;
}
.socilal-icon {
  text-align: center;
}
.style-icon {
  color: white;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 10px;
  text-align: center;
  transition: 0.4s;
}
.style-icon:hover {
  background: gray;
  transform: scale(1.2);
}
/* footer ends */

/* small device  */

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* medium device  */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* large device  */
@media (min-width: 992px) {
  .logo-div {
    text-align: left;
  }
  nav ul {
    text-align: right;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: inline-block;
    transition: 0.4s;
  }
  /* banner stats */
  .banner-section {
    position: relative;
    height: 100vh;
  }
  .banner-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner-contents h1 {
    width: 700px;
    font-size: 3.5rem;
  }
  .banner-contents p {
    width: 500px;
    font-size: 2rem;
  }
  /* banner ends */
  nav ul li a:hover {
    background: transparent;
    border-radius: 0;
    text-decoration: underline;
    transform: scale(1.2);
  }
  /* footer starts */
  footer p {
    text-align: left;
  }
  .socilal-icon {
    text-align: right;
  }
  /* footer ends */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
